@model IEnumerable<_10453370_POE_WebApp.Models.Booking>

@{
    ViewData["Title"] = "All Bookings";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking_Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking_Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Booking_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Booking_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Booking_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
