@model IEnumerable<_10453370_POE_WebApp.Models.Event>

@{
    ViewData["Title"] = "Event Details";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.eventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.venueID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.eventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.venueID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.eventID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.eventID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.eventID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
